---
import Section from "@compo/Section.astro";
import Heading from "@compo/typography/Heading.astro";
import Table from "./Table.astro";
---
<Section>
    <Heading>Competitive Audit</Heading>
    <p>
        During the competitive audit and market research, the major goals were to figure out who our key competitors are, what they were doing right and what 
        their weaknesses are in order to help improve our product. The following are the guiding questions used to determine the goals.
    </p><br/>
    <ul class="list-inside list-disc pl-2">
        <li>Who are our key competitors?</li>
        <br>
        <li>What is their best headphone in the market, how much is it and what quality does it possess?</li>
        <br>
        <li>What are the competitors strengths?</li>
        <br>
        <li>What are the competitors weaknesses?</li>
        <br>
    </ul>

    <Table />
    
    <div class="pt-[24px] text-[#B4B4B4] lg:grid grid-cols-2 grid-rows-2 gap-x-4 mt-[64px]">
        <section class="mb-[42px]">
            <h3 class="text-white font-bold mb-[20px]">Bose</h3>
            <ul class="leading-[40px]">
                <li><b class="font-bold">Strengths: </b>Strong brand reputation and awareness, high-quality sound, innovative products, a wide range of products.</li>
                <li><b class="font-bold">Weaknesses: </b>Higher pricing, limited distribution channels.</li>
                <li><b class="font-bold">Opportunities: </b> Expansion into new markets, development of new product lines, leveraging new technologies</li>
                <li><b class="font-bold">Threats: </b> Intense competition, rapidly changing consumer preferences, economic downturns</li>
            </ul>
        </section>
        <section class="mb-[42px]">
            <h3 class="text-white font-bold mb-[20px]">Sennheiser</h3>
            <ul class="leading-[40px]">
                <li><b class="font-bold">Strengths: </b>Strong brand reputation, high-quality sound, innovative products, a wide range of products.</li>
                <li><b class="font-bold">Weaknesses: </b>Higher pricing, limited distribution channels.</li>
                <li><b class="font-bold">Opportunities: </b>  Expansion into new markets, development of new product lines, leveraging new technologies.</li>
                <li><b class="font-bold">Threats: </b>  Intense competition, rapidly changing consumer preferences, economic downturns.</li>
            </ul>
        </section>
        <section class="mb-[42px]">
            <h3 class="text-white font-bold mb-[20px]">Beats</h3>
            <ul class="leading-[40px]">
                <li><b class="font-bold">Strengths: </b>Strong brand recognition and reputation, stylish design, aggressive marketing, wide distribution channels.</li>
                <li><b class="font-bold">Weaknesses: </b>Limited product range, higher pricing.</li>
                <li><b class="font-bold">Opportunities: </b> Expansion into new markets, development of new product lines, partnerships and collaborations.</li>
                <li><b class="font-bold">Threats: </b> Intense competition, rapidly changing consumer preferences, economic downturns.</li>
            </ul>
        </section>
        <section class="mb-[42px]">
            <h3 class="text-white font-bold mb-[20px]">Sony</h3>
            <ul class="leading-[40px]">
                <li><b class="font-bold">Strengths: </b>Strong brand recognition and reputation, wide range of products, good sound quality.</li>
                <li><b class="font-bold">Weaknesses: </b>Limited distribution channels, lack of brand awareness.</li>
                <li><b class="font-bold">Opportunities: </b> Expansion into new markets, development of new product lines, leveraging new technologies Threats: Intense competition, rapidly changing consumer preferences, economic downturns.</li>
            </ul>
        </section>
    </div>
</Section>