---
import Section from "@compo/Section.astro";
import Heading from "@compo/typography/Heading.astro";
---
<Section>
    <Heading>Design Process</Heading>
    <p>In order to conceptualize the appearance and tactile qualities of the headphones, we established the following guiding objective:</p><br/>
    <ul class="list-disc list-inside">
        <li>
            Utilizing data obtained through user research and competitive analysis, 
            create a sketch of the headphones with consideration for the following categories: 
            shape, comfort, accessibility, material, dimensions, and sizing.
        </li>
    </ul>


    <!-- sketches -->
    <Heading Level="h2" style="mt-[32px] md:mt-[56px] mb-[8px] md:mb-[24px]">Sketches</Heading>
    <div class="grid grid-cols-4 gap-1 md:gap-4 items-start">
        <img class="w-full" src="/images/headphones/sketches/1.jpg" alt="headset side-view">
        <img class="w-full" src="/images/headphones/sketches/2.jpg" alt="headset front-view">
        <img class="w-full" src="/images/headphones/sketches/3.jpg" alt="headset perspective-view">
        <img class="w-full" src="/images/headphones/sketches/4.jpg" alt="headset all views">
    </div>

    <!-- digital wireframes -->
    <Heading Level="h2" style="mt-[32px] md:mt-[96px] mb-[8px] md:mb-[24px]">Digital Wireframes</Heading>
    <div class="grid grid-cols-4  gap-1 md:gap-4 items-start">
        <img class="w-full" src="/images/headphones/wireframes/1.jpg" alt="headset side-view">
        <img class="w-full" src="/images/headphones/wireframes/2.jpg" alt="headset front-view">
        <img class="w-full" src="/images/headphones/wireframes/3.jpg" alt="headset perspective-view">
        <img class="w-full" src="/images/headphones/wireframes/4.jpg" alt="headset all views">
    </div>

    <!-- 3D design -->
    <Heading Level="h2" style="mt-[32px] md:mt-[96px] mb-[8px] md:mb-[24px]">3D Design</Heading>
    <div class="md:hidden grid grid-cols-4  gap-1 md:gap-4 items-start">
        <img class="w-full" src="/images/headphones/3D/1.jpg" alt="headset side-view">
        <img class="w-full" src="/images/headphones/3D/2.jpg" alt="headset front-view">
        <img class="w-full" src="/images/headphones/3D/3.jpg" alt="headset perspective-view">
        <img class="w-full" src="/images/headphones/3D/4.jpg" alt="headset all views">
    </div>
    <img class="hidden md:block md:w-[80%]" src="/images/headphones/headset.svg" alt="image showing the 3d view of the headset"/>

    <!-- Logo -->
    <div class="flex flex-col md:flex-row mt-[32px] md:mt-[96px] gap-[20px] lg:gap-[70px] items-center lg:items-start">
        <div class="md:w-[70%]">
            <Heading Level="h2" style="mb-[8px] md:mb-[24px]">Logo</Heading>
            <p>
                Coming up with a name for the headphones was a humorous and imaginative process. After a long day of trying to come up with a name, 
                I decided to take a break and as I looked around the room, my eyes landed on a crack in the wall. That's when it hit me - "Crack" would be the perfect name for the headphones. 
                The design of the word logo was inspired by that moment, and the brandmark logo actually came to me in a dream later that same night.<br/><br />
                This was passed on to the team and the graphic designer brought it to life.<br /><br />
                A flat and simple logo was also created for a mobile-first design experience so it can present well across different mediums.
            </p>
        </div>
        <img class="md:w-[30%]" src="/images/headphones/headset-logo.png" alt="image showing inspiration for the logo"/>
    </div>
</Section>



