---
import Section from "@compo/Section.astro";
import Heading from "@compo/typography/Heading.astro";
---
<Section>
    <Heading>Features</Heading>
    <p>The <b>Crack</b> headphones will provide a comfortable listening experience from one person to the next with these unique features:</p>
    <ul class="list-outside mt-[32px]">
        <li><span class="font-bold text-my-red">Link-Up:</span> The headphones come with an incredible link-up feature that allow <b class="text-[#555555]">Crack</b> headphones connect wirelessly allowing two or more users listen to the same music from one source with just a push of a button either on the headphone or in the <b class="text-[#555555]">Crack</b> app.</li><br>
        <li><span class="font-bold text-my-red">Smart Pause:</span> The Smart Pause feature ensures that users can easily pause their music by simply removing the headphones, allowing for seamless transitions between listening and speaking with others.</li><br>
        <li><span class="font-bold text-my-red">Replaceable Earpads:</span> The replaceable earpads feature allows users to keep the headphones in excellent condition, which helps to enhance comfort and extends the lifespan of the headphones.</li><br>
        <li><span class="font-bold text-my-red">LED Battery Indicator:</span>  The LED battery indicator feature provides users with an easy way to check the battery life of their headphones at a glance, which helps to ensure they never run out of battery during extended listening sessions. There are five charge levels represented by the letters C R A C K which glows.</li><br>
        <li><span class="font-bold text-my-red">Detachable Cables:</span> The detachable cable feature allows users to switch between different cables depending on their needs, such as a longer cable for use at home or a shorter cable for use on the go. The headphones can both be used wired or wirelessly, the cables come in different colors and design like the ear pads which can also be replaced and is also available for the “Glow in the Dark”, “Party” and “Gold” editions.</li><br/>
        <li><span class="font-bold text-my-red">Premium and Luxurious Feel:</span> The project is designed to cater to the luxurious market, so a premium and luxurious look and feel is a key goal of the project. This will help to differentiate the headphones from other products on the market and appeal to a discerning audience.</li><br/>
        <li><span class="font-bold text-my-red">AI:</span> The headphones incorporate the use of Artificial Intelligence (AI) technology to equalize sound and provide a superior listening experience. Through AI, the headphones can automatically adjust the levels of different frequencies in the audio signal to optimize sound quality and ensure a more personalized listening experience.</li>
    </ul>
</Section>
