---
import Section from "@compo/Section.astro";
import Heading from "@compo/typography/Heading.astro";
---
<Section>
    <Heading>Going Forward</Heading>
    <p>By securing sufficient funding and conducting further market research, 
        we aim to develop a prototype of the headphones with enhanced refinement.<br/><br/>
        Music is so important that they say it is food for the soul. 
        We wanted to make headphones that make a user feel connected to every sound. 
        Hence, the emergence of the<br/>Crack Headphones.
    </p>
</Section>
