---

---
<div class="overlay opacity-0 dual-player hidden fixed z-[100] top-0 h-screen right-0 left-0 bg-black bg-opacity-90 flex-col justify-center items-center">
    <div class="bg-red overlay-content">
        <slot/>
    </div>
</div>