---
import Footer from '@lay/TheFooter.astro';
import Hero from '@lay/chelsea/Hero.astro'
import Layout from '@lay/Layout.astro'
import Nav from '@compo/nav/Nav.astro'
import Overview from '@lay/chelsea/Overview.astro'
import Understand from '@lay/chelsea/Understand.astro'
import Proposed from '@lay/chelsea/Proposed.astro'
import DesignProcess from '@lay/chelsea/Design.astro'
import MarketAnalysis from '@lay/chelsea/Market.astro'
import Benefits from '@lay/chelsea/Benefits.astro';
import Conclusion from '@lay/chelsea/Conclusion.astro';
import Tools from '@lay/chelsea/Tools.astro';
import Team from '@lay/chelsea/Team.astro';
import ContactUs from '@lay/chelsea/ContactUs.astro'
import Nexter from '@compo/Nexter.astro'

const showForm = Astro.locals.showForm
---
<Layout title="Crack X Chelsea">
    <div class="fixed w-full bg-black top-0 z-10 border-b-[1px] border-b-white border-opacity-20 ">
		<Nav index={1}></Nav>
	</div>

    <Hero/>

    <main>
        <Overview/>

        <Understand/>

        <Proposed/>

        <DesignProcess/>

        <MarketAnalysis/>

        <Benefits/>

        <Conclusion/>

        <Tools/>

        <Team/>

        <ContactUs showForm={showForm}/>
    </main>

    <Nexter
        leftText="Crack Headphones"
        leftUrl="headphones"
    />

    <Footer
        footerStyle="bg-grade md:bg-transparent relative mt-[40px]"
    />
</Layout>
<style>
    html, body{
        scroll-behavior: smooth;
    }
</style>