---
import Layout from '../layouts/Layout.astro';
import Nav from '@compo/nav/Nav.astro'
import Footer from '../layouts/TheFooter.astro';
import ContactUs from '@compo/ContactUs.astro';
import Works from '../layouts/Works.astro';
import DesignProcess from 'src/layouts/DesignProcess.astro'; 
import Hero from 'src/layouts/Hero.astro'; 
import UI from 'src/layouts/UI.astro';
import Resources from 'src/layouts/Resources.astro';
import Loader from '@lay/Loader.astro';

const showForm = Astro.locals.showForm
---

<Layout title="Kamil Oseni">

	<Loader/>

	<div class="fixed w-full bg-black top-0 z-40 border-b-[1px] border-b-white border-opacity-20">
		<Nav></Nav>
	</div>
	<main>
		<!-- <Heading line>Hello World</Heading>
		<Heading Level="h2">Hello World</Heading>
		<Button>About</Button> -->
		
		<Hero/>

		<div class="flex justify-center">
			<div>
				<Works />

				<Resources/>

				<DesignProcess/>

				<UI/>
			</div>
		</div>

		<ContactUs showForm={showForm}/>

		<Footer/>
	</main>
</Layout>
