---
import CarouselCard from "../components/CarouselCard.astro";
---
<div class="w-full h-[50px] flex justify-between mt-4">
    <div class="mouse-change hover:cursor-pointer arrow-right h-full w-[50px] bg-right bg-cover bg-[url('/images/arrow.gif')] transform rotate-[180deg]"></div>
    <div class="mouse-change hover:cursor-pointer arrow-left h-full w-[50px] bg-right bg-cover bg-[url('/images/arrow.gif')]"></div>
</div>
<div draggable="false" class="flex overflow-x-hidden curses-carousel gap-10">

    <CarouselCard
    url='/images/carousels/monster.jpg'
    url2='/images/carousels/monster1.png'
    overlayText={`"Sometimes the only way to survive is to be the monster."`}
    bottomText='Monster'
    />

    <CarouselCard
        url='/images/carousels/ravens.jpg'
        url1='/images/carousels/raven1.png'
        url2='/images/carousels/raven2.png'
        overlayText={`"When the ravens gather, it's a sign that evil is near."`}
        bottomText='Ravens'
    />
    



  

    <CarouselCard
        url='/images/carousels/spider.jpg'
        url1='/images/carousels/spider1.png'
        url2='/images/carousels/spider2.png'
        overlayText={`"We have nothing to fear but fear itself. And spiders."`}
        bottomText='Spider'
    />

    <CarouselCard
        url='/images/carousels/haunted.jpg'
        url1='/images/carousels/haunted1.png'
        url2='/images/carousels/haunted2.png'
        overlayText={`"It's not the house that's haunted. It's the people inside."`}
        bottomText='Haunted House'
    />

    <CarouselCard
    url='/images/carousels/theDead.jpg'
    url1='/images/carousels/theDead1.png'
    url2='/images/carousels/theDead2.png'
    overlayText={`"The dead are always watching. And waiting."`}
    bottomText='The Dead'
    />

    <CarouselCard
        url='/images/carousels/soul.jpg'
        url1='/images/carousels/soul1.png'
        url2='/images/carousels/soul2.png'
        overlayText={`"The scariest monsters are the ones that lurk within our souls."`}
        bottomText='Soul'
    />
   
</div>
<script>
    interface E{
        screenX : number
    }
    const leftArrow = document.querySelector('.arrow-left')
    const rightArrow = document.querySelector('.arrow-right')
    const cursesCarousel = document.querySelector('.curses-carousel') as HTMLElement
    let canDrag = false
    let startPos = 0
    let movementInterval = 0

    //arrow events
    leftArrow.addEventListener('click',(e)=>{
        cursesCarousel.style.scrollBehavior = 'smooth'
        cursesCarousel.scrollLeft += 300
        
    })

    leftArrow.addEventListener('mouseleave',(e)=>{

    })

    rightArrow.addEventListener('click',(e)=>{
        cursesCarousel.style.scrollBehavior = 'smooth'
        cursesCarousel.scrollLeft -= 300
    })

    rightArrow.addEventListener('mouseleave',(e)=>{
    })
    

    //carousel pointer events so it can work for touch too
    cursesCarousel.addEventListener('pointerdown', (e)=>{
        cursesCarousel.style.scrollBehavior = 'auto'
        cursesCarousel.style.cursor = 'grab'
        startPos = e.screenX
        canDrag = true
    })

    cursesCarousel.addEventListener('pointerup', (e)=>{
        canDrag = false
    }) 

    cursesCarousel.addEventListener('pointermove', (e)=>{
        if(canDrag)
            {
                cursesCarousel.scrollLeft += (startPos - e.screenX)
                startPos = e.screenX
            }
    })
</script>