---
---
<div id="intro" class="w-full h-screen  bg-[url('/images/chelsea/hero.jpg')] bg-center bg-no-repeat md:bg-repeat relative bg-cover lg:bg-[length:75%_75%] flex items-center justify-center p-10">
    <div class="max-w-[482px] max-h-[192px]">
        <h1 class="text-[10px] md:text-[24px] lg:text-[48px] md:leading-[64px] text-center text-white">CRACK <span class="text-yellow-400">X</span> Chelsea FC</h1>
        <hr class="border-[1px] border-white">
        <p class="text-[10px] md:text-[17px] md:leading-8 mt-2">
            Virtual reality (VR) technology has the potential to revolutionize the way we watch live sports, including football. 
            By using VR headsets and other immersive technology, fans can experience the game as if they were right on the field, 
            giving them a unique and highly engaging viewing experience.
        </p>
    </div>
</div>