---
    import Card from "@compo/Card.astro";
    import Section from "@compo/Section.astro";
    import Heading from "@compo/typography/Heading.astro";
    import Quote from "@compo/Quote.astro";
---
<Section style="lg:pb-[80px] md:pb-[80px]">
    <Heading>Market <span class="inline-block relative text-my-red"><hr class="absolute left-0 right-0 -bottom-[5px] md:-bottom-[10px] h-[3px] md:h-[5px] bg-my-red border-my-red"> Analysis</span></Heading>

    <section>
        <Heading Level="h2" style="mb-[20px] md:mb-[40px]">Cost Analysis</Heading>

        <p>During a brief cost evaluation, the following two questions were considered: </p>
        <ul class="list-disc pl-8 my-[20px] md:my-[40px]">
            <li>What equipment is necessary for the establishment of a virtual reality system at Stamford Bridge? </li>
            <li>What is the estimated cost of establishing a virtual reality system at Stamford Bridge?</li>
        </ul>

        <section>
            <Heading Level="h3">What equipment is necessary for the establishment of a virtual reality system at Stamford Bridge? </Heading>
            <br/>
            <p>
                To create a virtual reality experience of the Stamford Bridge, we will need a number of high-quality cameras to the capture 360-degree video of the stadium and its surroundings. 
                We will also need specialized VR capture equipment, such as VR rigs or multi-camera arrays, 
                to ensure that the video is captured in a way that can be seamlessly stitched together to create a seamless VR experience. Additionally, 
                we will need a range of support equipment, such as tripods, stabilizers, and lighting, to ensure that the video is captured with a high level of quality.<br/><br/>
                Ricoh theta cameras and GoPro VR cubes will also be needed.
            </p>
        </section>

        <section class="mt-[56px]">
            <Heading Level="h3">What is the estimated cost of establishing a virtual reality system at Stamford Bridge?</Heading>
            <br/>
            <p>
                In order to provide a satisfactory response to this question, it will be necessary to conduct additional cost analysis research to determine the exact cost of establishing a virtual reality system.
            </p>
        </section>

        <section class="mt-[56px]">
            <Heading Level="h2">Club Revenue</Heading>
            <br/>
            <p>There are several methods by which the club will profit from this project, including:</p>
            <ul class="list-disc pl-8 my-[20px] md:my-[40px]">
                <li>A monthly subscription fee from users; </li>
                <li>Virtual stores offering the sale of kits and non-fungible tokens (NFT) collectibles; </li>
                <li>The sale of VR headsets</li>
            </ul>
        </section>
    </section>
</Section>

