---
    import Section from "@compo/Section.astro";
    import Heading from "@compo/typography/Heading.astro";
    import Quote from "@compo/Quote.astro";
---
<Section style="lg:pb-[80px] md:pb-[80px]">
    <Heading>Proposed <span class="inline-block relative text-my-red"><hr class="absolute left-0 right-0 -bottom-[5px] md:-bottom-[10px] h-[3px] md:h-[5px] bg-my-red border-my-red"> Solution</span></Heading>
    <p>
        The proposed solution involves the implementation of virtual reality technology in the live streaming of football matches, 
        with the goal of enhancing the viewing experience and allowing fans feel a greater sense of immersion and proximity to Chelsea FC and to the Stamford Bridge.
    </p>

    <section class="mt-[56px]">
        <Heading Level="h2">Features</Heading>

        <p class="my-[20px] md:my-[40px]">The proposed solution will include the following features:</p>
        <ul class="list-disc pl-8">
            <li>Virtual live streaming of football matches;</li>
            <li>Virtual attendance at live press conferences; </li>
            <li>A virtual marketplace for Chelsea FC merchandise and other items.</li>
        </ul>
    </section>

    <section class="mt-[56px]">
        <Heading Level="h2">Accessibility Considerations</Heading>

        <p class="my-[20px] md:my-[40px]">In order to ensure accessibility for all users, 
            closed captions and alt texts will be included for deaf individuals. Additionally, 
            virtual reality headsets come equipped with Crack Sound enhancements for individuals who use hearing aids.
        </p>
    </section>
</Section>
