---
import Section from "@compo/Section.astro";
import Heading from "@compo/typography/Heading.astro";
---
<Section style="relative">
    <div class="border-y-[1px] border-white border-opacity-30 absolute top-0 bottom-0 right-4 left-4 md:right-5 md:left-5 lg:right-20 lg:left-20">
    </div>
    <Heading Level="h2">Tools</Heading>
    <p class="tracking-[5px] mt-[24px]">WE SHAPE OUR <span class="text-my-red">TOOLS</span> TO SHAPE US</p>

    <div class="flex flex-wrap gap-[20px] md:gap-[104px] mt-[48px]">
        <img src="/images/chelsea/tools/1.svg" alt="cinema 4D logo">
        <img src="/images/chelsea/tools/2.svg" alt="maya logo">
        <img src="/images/chelsea/tools/3.svg" alt="photoshop logo">
        <img src="/images/chelsea/tools/4.svg" alt="photoshop logo">
        <img src="/images/chelsea/tools/5.svg" alt="photoshop logo">
    </div>
</Section>