---
import { twMerge } from "tailwind-merge";
import IconDeck from "../IconDeck.astro";

const {footerStyle}  =  Astro.props
---

<footer class={twMerge("bg-primary-color", footerStyle)}>

    <div class="md:grid grid-cols-4 md:px-5  justify-end lg:px-20 lg:gap-[5%] lg:pt-[70px] lg:pb-4 border-b-[1px] border-secondary-color border-opacity-50">
        <slot />
    </div>
    <div class="md:py-10 lg:px-20 flex flex-col md:flex-row md:items-center md:justify-between relative">
        <p class="text-[10px] lg:text-[16px] text-secondary-color font-bold hidden md:block">Designed by Kamil Oseni</p>

        <div class="flex items-center justify-center gap-[16px] py-4 md:py-0">
            <a href="#intro"><p class="text-[10px] lg:text-[16px] text-secondary-color font-bold hidden md:block">Back to top</p></a>
            <p class="text-[10px] lg:text-[16px] text-secondary-color font-bold md:hidden">Designed by Kamil Oseni</p>
            <a href="#intro"><button class="w-[25px] md:w-[50px] aspect-square bg-center bg-contain bg-no-repeat bg-[url('/images/icons/icon-back-to-top.svg')]"></button></a>
        </div>

        <div class="py-6 md:p-[1px] text-center  md:bg-gradient-to-r inline-block from-white to-my-red right-3">
            <IconDeck
                width="15px"
                urls={[
                    '/images/icons/icon-twitter.png',
                    '/images/icons/icon-insta.png',
                    '/images/icons/icon-email.png',
                    '/images/icons/icon-door.png'
                ]} 
                contStyle="flex-row bg-black p-4"
                links={[
                    'https://www.twitter.com/KamilZamani1',
                    'https://www.instagram.com/kamilzamani/',
                    'https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=kamilzoseni@gmail.com',
                    'https://drive.google.com/file/d/1vEWwJIjXc2qVbOwGyAUes8z1Qcbr91y3/view?usp=sharing'
                ]}
            />
        </div>
        <!-- <p class="text-[10px] lg:text-[16px] text-center justify-self-start text-secondary-color font-bold py-6 md:p-0 md:border-0 border-y-[1px] border-y-secondary-color border-opacity-50">Designed by Kamil Oseni</p> -->
    </div>
</footer>
