---
import Section from "@compo/Section.astro";
import Heading from "@compo/typography/Heading.astro";
import Card2 from "@compo/Card.astro";
---

<Section style="relative">
    <div class="absolute h-full w-full bg-[url('/images/bgs/skills-bg.png')] bg-[length:90%_10%] md:bg-[length:50%_10%] bg-right-top bg-no-repeat opacity-20 hover:opacity-40 top-[40px] right-[40px]"></div>

    <Heading line>Resources</Heading>

    <div class="md:flex max-w-[1000px] mx-auto">
      

        <Card2 
            titleText="CRAFTMANSHIP"
            headingText="TOOLS"
            cardStyle="text-left"
            noline
        >
            <ul class="text-left list-disc list-inside leading-6 md:leading-8">
                <li>Jira</li>
                <li>Figma</li>
                <li>Sketch</li>
                <li>Webull</li>
                <li>Adobe XD</li>
                <li>Photoshop</li>
                <li>Visual Studio</li>
                <li>Google Analytics</li>
            </ul>
            <p class="font-bold text-black mt-6">DEVELOPMENT</p>
            <p>C, UNIX/LINUX, HTML, CSS, Pseudocode & Flowchart</p>
        </Card2>
        <div class="w-full h-[24px] md:hidden"></div>
        <Card2 
            titleText="TALENT & COMPETENCE"
            headingText="SKILLS"
            cardStyle="text-left md:mt-[62px] shadow-lg"
            noline
        >
            <p class="font-bold text-black">DESIGN</p>
            <p>
                Illustration & UI graphics, Strategy & Visual Presentations, 
                User Flows using Flowcharts & Pseudocode, Concept Sketching, 
                Wireframes & Mockups with Figma & Photoshop, Prototyping with Figma, 
                Style guides & Design Systems, Data Visualization.
            </p>

            <p class="font-bold text-black mt-6">RESEARCH</p>
            <p>
                User Research & User Experience, Statistical Analysis & Persona Hypothesis, 
                A/B Testing & Experiment, Business Intelligence & Market Research, Cognitive & Logical Walkthrough, 
                Human Psychology.
            </p>
        </Card2>
    </div>
</Section>