---
import Heading from "@compo/typography/Heading.astro";
import Section from "@compo/Section.astro";
import Body from '@compo/typography/Body.astro'
import BaseScroll from '@compo/BaseScroll.astro'
---
<Section>
    <Heading line>UI Designs</Heading>



    <BaseScroll/>

    <Section style="px-0 md:px-0 lg:px-0">
        <div>
            <section class="flex gap-4 md:gap-[20%]">
                <div class="sm:w-[70%]">
                    <Heading Level="h3" style="leading-[24px] text-[24px] mb-[24px]">A Designer with a Passion for <br>Creating <span class="text-my-red underline underline-offset-8">Innovative Products.</span></Heading>
                    <Body>
                        I'm a sucker for all things art - paintings, sculptures, talent, dance, the environment, anything that screams art. When I'm not binging on cartoons or anime, you can find me rollerblading, writing, or taking pictures of my surrounding or working on a new project. And of course, I have a huge soft spot for dogs and Math!......... and Dolphins!!
                    </Body>
                    <p class="mt-6 lg:mt-[80px] mb-3 md:mt-[48px] md:mb-[24px]">Interests</p>
                    <div class="interests text-my-gray-normal grid grid-cols-2 grid-rows-3 md:flex md:gap-[20px]">
                        <ul class="list-disc list-inside md:flex md:flex-col md:gap-2">
                            <li><span class="list-it relative -left-3">Art</span></li>
                            <li><span class="list-it relative -left-3">Anime</span></li>
                        </ul>
                        <ul class="list-disc list-inside md:flex md:flex-col md:gap-2">
                            <li><span class="list-it relative -left-3">Animals</span></li>
                            <li><span class="list-it relative -left-3">Math,Logic & Puzzles</span></li>
                        </ul>
                        <ul class="list-disc list-inside md:flex md:flex-col md:gap-2">
                            <li><span class="list-it relative -left-3">Photography</span></li>
                            <li><span class="list-it relative -left-3">Rollerblading</span></li>
                        </ul>
    
                        <ul class="list-disc list-inside md:flex md:flex-col md:gap-2">
                            <li><span class="list-it relative -left-3">Nature</span></li>
                            <li><span class="list-it relative -left-3">Video Games</span></li>
                        </ul>
                    </div>
                </div>
                <div class="w-[30%] max-w-[300px] sm:flex items-center hidden">
                    <div class="w-full aspect-square">
                        <img class="w-full aspect-square border border-white" src="/images/kamil-art-2.png" />
                        <!-- <div class="w-full aspect-square bg-neutral-900 justify-center items-center inline-flex">
                            <div class="w-[50px] aspect-square bg-white rounded-full">
                                <div class="w-full aspect-square bg-center bg-contain bg-no-repeat  bg-[url('/images/icons/icon-play-circle.svg')]"></div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </section>
        </div>

        <div class="w-[300px] hidden">
            <img class="w-full aspect-square border border-white" src="/images/kamil-art-2.png" />
            <!-- <div class="w-full aspect-square bg-neutral-900 justify-center items-center inline-flex">
                <div class="w-[50px] aspect-square bg-white rounded-full">
                    <div class="w-full aspect-square bg-center bg-contain bg-no-repeat  bg-[url('/images/icons/icon-play-circle.svg')]"></div>
                </div>
            </div> -->
        </div>
    </Section>
</Section>

                                                            <!-- modals -->
                                                    <!--  -->   
                                                                           <!--  -->
<div class="pr-2 pl-2 fixed left-0 right-0 min-h-[100vh] top-0 bg-black bg-opacity-30  flex-col items-center justify-center backdrop hidden z-[30]"> 

    <div class="bg-white text-black pt-5 pb-8 pr-[26px] pl-[26px] rounded-[16px] modal transform translate-x-[100vw] hidden max-w-[1000px]"> <!--modal-->
        <div class="md:h-[90vh] max-h-[500px] overflow-y-auto">
            <div class="mb-4 flex justify-between">
                <h3 class="text-darkBlue text-[12px] md:text-[24px] font-bold">CRACK Control Hub</h3>
                <button class="close-modal-btn"><img src="/images/icons/icon-close.svg" alt="close icon"><span class="opacity-0 absolute">close modal</span></button>
            </div>
            <div class="grid grid-cols-4">  <!--images-->
                <img   src="https://res.cloudinary.com/di1hpsxqe/image/upload/v1695845035/1_xzbyji.gif" alt="crack app showcase gif">
                <img class="col-span-3 self-center justify-self-center w-full"  src="/images/modals/Frame 91.jpg" alt="crack control hub mockup" srcset="">
            </div>
            <div class="mt-4"> <!--content-->
                <p class="text-[11px] md:text-[17px] tracking-[0.3px] md:tracking-[1px] leading-[24px] md:leading-[40px]">
                    The CRACK Control Hub is a smart application through which all CRACK devices can be managed and controlled effectively. 
                </p>
                <!-- <a href="https://www.figma.com/proto/FkY1AidIu4xW5D8XDKc0D2/CRACK?page-id=1%3A5&node-id=485%3A8994&viewport=781%2C596%2C0.18&scaling=min-zoom&starting-point-node-id=485%3A8994&fuid=1121458938703951086" class="text-[8px] md:text-[12px] text-darkBlue underline">Click to view prototype</a> -->
            </div>
        </div>
    </div>

    <div class="bg-white text-black pt-5 pb-8 pr-[26px] pl-[26px] rounded-[16px] modal transform translate-x-[100vw] hidden max-w-[1000px]"> <!--modal-->
        <div class="md:h-[90vh] max-h-[500px] overflow-y-auto">
            <div class="mb-4 flex justify-between">
                <h3 class="text-darkBlue text-[12px] md:text-[24px] font-bold">Glass Website Design</h3>
                <button class="close-modal-btn"><img src="/images/icons/icon-close.svg" alt="close icon"><span class="opacity-0 absolute">close modal</span></button>
            </div>
            <div class="flex justify-center items-end">  <!--images-->
                <img width="60%" src="/images/modals/Mac Studio.jpg" alt="glass website showcase gif">
                <img width="40%" src="https://res.cloudinary.com/di1hpsxqe/image/upload/v1695844990/2_c37ebz.gif" alt="" srcset="">
            </div>
            <div class="mt-4"> <!--content-->
                <p class="text-[11px] md:text-[17px] tracking-[0.3px] md:tracking-[1px] leading-[24px] md:leading-[40px]">
                    Glass is an interactive fashion website that's designed to feel sleek and modern. One of the cool features is the AR changing room that lets you try on different outfits in augmented reality. I think this will be a hit with most people and also help companies boost sales. 
                </p>
                <!-- <a target="_blank" href="https://www.figma.com/proto/zKqMqumUXRUwAtNC4joqhZ/Glass-Updated?page-id=6%3A67&node-id=22%3A409&viewport=488%2C98%2C0.06&scaling=min-zoom&starting-point-node-id=22%3A409" class="text-[8px] md:text-[12px] text-darkBlue underline">Click to view prototype</a> -->
            </div>
        </div>
    </div>

    <div class="bg-white text-black pt-5 pb-8 pr-[26px] pl-[26px] rounded-[16px] modal transform translate-x-[100vw] hidden max-w-[1000px]"> <!--modal-->
        <div class="md:h-[90vh] max-h-[500px] overflow-y-auto">
            <div class="mb-4 flex justify-between">
                <h3 class="text-darkBlue text-[12px] md:text-[24px] font-bold">Marketing Dashboard</h3>
                <button class="close-modal-btn"><img src="./images/icons/icon-close.svg" alt="close icon"><span class="opacity-0 absolute">close modal</span></button>
            </div>
            <div class="flex justify-center items-end">  <!--images-->
                <img width="60%" src="./images/modals/Studio-Display-1.jpg" alt="crack app showcase gif">
                <img width="40%" src="https://res.cloudinary.com/di1hpsxqe/image/upload/v1695844876/3_flh07s.gif" alt="" srcset="">
            </div>
            <div class="mt-4"> <!--content-->
                <p class="text-[11px] md:text-[17px] tracking-[0.3px] md:tracking-[1px] leading-[24px] md:leading-[40px]">
                    I assisted in the design of a Marketing dashboard design for the Michael Fajemilehin BI consultancy. The dashboard tracks revenue and other important marketing metrics from different stores, based on their utilization of specified marketing channels, to assist in making data-driven decisions.
                </p>
                <a href="https://public.tableau.com/app/profile/michael7697/viz/_Marketingdashboard/Dashboard" target="_blank" class="text-[8px] md:text-[12px] text-darkBlue underline">Click to view published dashboard</a>
                <!-- <a target="_blank" href="https://www.figma.com/proto/BAYo0kKnw2jtXbZgITtt8Y/Michael-Dashboard?page-id=0%3A1&node-id=4%3A22&viewport=685%2C485%2C0.2&scaling=min-zoom&starting-point-node-id=4%3A22&fuid=1121458938703951086"><p class="text-[8px] md:text-[12px] text-darkBlue underline block mt-3">Click to view prototype</p></a> -->
            </div>
        </div>
    </div>
</div>

<script>
    // const navBtn = document.querySelector('.nav-btn') as HTMLElement;
    // const navBtnOpen = document.querySelector('.nav-btnOpen') as HTMLElement;
    // const navMobileMenu = document.querySelector('.nav-menu') as HTMLElement
    // const closenavBtn = document.querySelector('.nav-btnClose') as HTMLElement

    // import anime from 'animejs/lib/anime.es.js';

        // navBtn.addEventListener('click',(e)=> {navMobileMenu.style.display = 'block'; navBtnOpen.style.display = 'none'})

    // closenavBtn.addEventListener('click', (e)=> {navMobileMenu.style.display = 'none'; navBtnOpen.style.display = 'block'})

    const modalOpeners = document.querySelectorAll('.modal-open') as NodeListOf<Element>
    const modals = document.querySelectorAll('.modal') as NodeListOf<HTMLElement>
    const backdrop = document.querySelector('.backdrop') as HTMLElement
    const modalClosers = document.querySelectorAll('.close-modal-btn')
    const bod = document.querySelector('body') as HTMLElement
    let current:HTMLElement



    /* additional logic to stop modals from opening on scroll starts here */
    let mouseState = {
        mousedown : false,
        mouseOverImmediatelyAfterDown : false
    }

    bod.addEventListener('mouseup', () => mouseState.mousedown = false)

    modalOpeners.forEach((ele , i) => ele.addEventListener('mousedown', e => {
        mouseState.mousedown = true
    }))

    modalOpeners.forEach((ele , i) => ele.addEventListener('mousemove', e => {
        if(mouseState.mousedown === true) mouseState.mouseOverImmediatelyAfterDown = true
        else mouseState.mouseOverImmediatelyAfterDown = false
    }))
    /* additional logic to stop modals from opening on scroll stops here */


    modalOpeners.forEach((ele, i) => ele.addEventListener('click', e => {
        if(mouseState.mouseOverImmediatelyAfterDown === false){
            modals[i].style.display = 'block'
            backdrop.style.display = 'flex'
            modals[i].classList.remove('slideOutModal')
            modals[i].classList.add('slideInModal')

            current = modals[i]
            bod.classList.add('hide')
        }else mouseState = {mousedown:false, mouseOverImmediatelyAfterDown:false}
    }))



    modalClosers.forEach((ele, i)=> ele.addEventListener('click', e => {
        modals[i].classList.remove('slideInModal')
        modals[i].classList.add('slideOutModal')
        setTimeout(()=>{
            backdrop.style.display = 'none'
            modals[i].style.display = 'none'    
            bod.classList.remove('hide')
        },1000)
    }))
    
    backdrop.addEventListener('click', e => {
        current.classList.remove('slideInModal')
        current.classList.add('slideOutModal')
        setTimeout(()=>{
            backdrop.style.display = 'none'
            current.style.display = 'none'   
            bod.classList.remove('hide') 
        },1000)
    })

    modals.forEach((modal) => modal.addEventListener('click', e => e.stopPropagation())) //prevent modal from closing when its clicked
</script>
<style>
    @keyframes modalSlideIn{
    0%{
        transform: translateX(100vw);
    }
    70%{
        transform: translateX(-10vw);
    }100%{
        transform: translateX(0);
    }
}

@keyframes modalSlideOut{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100vw);
    }
}

.slideInModal{
    animation: modalSlideIn 1s cubic-bezier(0, 0, 0.4, 1) forwards;
}

.slideOutModal{
    animation: modalSlideOut 1s cubic-bezier(0, 0, 0, 1) forwards;
}
</style>