---
import Section from "@compo/Section.astro";
import Heading from "@compo/typography/Heading.astro";
import SliderParent2 from "@compo/slider/SliderParent2.astro";
import Button from '@compo/Button.astro'

import data from '../data/slides.ts'
---
<div class="relative">
    <div class="absolute h-full w-full bg-[url('/images/bgs/feature-bg.png')] bg-[length:90%_10%] md:bg-[length:60%_10%] bg-right-top bg-no-repeat opacity-20 hover:opacity-100 top-[40px] right-[40px]"></div>
    <Heading line style="mx-4 md:mx-[20px] lg:mx-[80px] md:mt-[160px]">Featured Works</Heading>
    <div class="relative slider-parent">
    {
        data.map((item, itemIndex) => 
        <SliderParent2 open={itemIndex == 0? true : false}>
            <Heading set:html={item.title} slot='heading' Level="h2"></Heading>

            <div slot="action" class="flex gap-4">
                <Button slot='action'>About</Button>
                <Button fill>View Live Site</Button>
            </div>
            
            {item.slides.map((data)=>{
                return <img src={data.src}>
                </img>
            })}

            <div class="flex flex-col" slot="base">
                <div class="flex gap-4 md:flex-col md:gap-0">
                    {
                        item.base.map(item =>
                            <p set:html={item}  class="text-[14px] font-thin italic"></p>
                        )
                    }
                </div>
            </div>
        </SliderParent2>
        )
    }
    </div>
</div>

<script>
//brute force logic for closing already open slider if another is opened
    const sliderParent = document.querySelector('.slider-parent') as HTMLElement

    sliderParent.addEventListener('slideropened',(e) => console.log('one of children sliders was opened'))
</script>
   
    


