---

---
<div class="relative w-full">
    <div class="absolute bottom-3 left-0 w-[40px] h-[50px] inline-block transition-all ease-linear duration-500 bg-primary-color-color hover:bg-secondary-color bg-[url('/images/arrow.svg')] bg-no-repeat bg-center bg-[length:15px_15px] sm:bg-[length:30px_30px] rotate-180 evi-btn-left lg:bg-[url('/images/arrow.gif')] lg:w-[50px] lg:h-[50px] lg:bg-contain lg:hover:bg-transparent lg:hover:cursor-pointer"></div>
    <div class="absolute bottom-3 right-0 w-[40px] h-[50px] inline-block transition-all ease-linear duration-500 bg-primary-color-color hover:bg-secondary-color bg-[url('/images/arrow.svg')] bg-no-repeat bg-center bg-[length:15px_15px] sm:bg-[length:30px_30px] evi-btn-right lg:bg-[url('/images/arrow.gif')] lg:w-[50px] lg:h-[50px] lg:bg-contain lg:hover:bg-transparent lg:hover:cursor-pointer"></div>
</div>