---

---
<section class="relative">
    <div class=" bg-[url('/images/pee/manindark.png')] bg-center bg-cover relative w-full">
        <div class='relative inline-block z-[2] text-center text-secondary-color pt-[52px] pb-[55px] px-[30px] md:py-[156px] md:pl-[200px] md:pr-[50px]'>
            <p class="md:text-left text-secondary-color text-[11px] font-bold tracking-[6px] leading-5 md:text-[12px] md:tracking-[16px]"><span class="text-red-500 relative inline-block after:content-[''] after:inline-block after:w-[2px] after:bg-secondary-color after:absolute after:bottom-0 after:top-0">#1</span> SURGICAL TOOL</p>
            <div class="my-2 md:text-left">
                <p class="text-[24px] font-bold tracking-[5px] leading-[32px] lg:text-[80px] md:text-[60px] md:leading-[96px]">AMPUTATION</p>
                <p class="text-neutral-color font-bloody text-[40px] font-bold leading-[40px] transform  relative bottom-3 md:text-[96px] md:leading-[104px] md:bottom-8">CLEAVER KNIFE</p>
            </div>
            <p class="text-[11px] md:text-[12px] lg:text-[16px] md:leading-[30px] leading-4 md:text-left tt">8-12 inch long large, heavy, rectangular-shaped knife with a thick spine, designed for chopping and slicing meat and bones.</p>
        </div>
        <div class="absolute top-0 left-0 text-secondary-color text-[8px] tracking-[5px] font-semibold leading-[6px] py-2 px-3 bg-primary-color md:text-[14px] md:leading-[16px] md:py-6 md:px-8">EVIDENCE</div>

        {/* side image card */}
        <div class="z-[1] absolute flex items-center justify-end w-[90px] top-[0px] bottom-[0px] left-[0px] md:w-[200px]">
            <div class="bg-center bg-cover w-full h-[90px] md:w-[307px] md:h-[205px] lg:h-full lg:bg-contain bg-no-repeat bg-[url('/images/pee/knives.png')]"></div>
        </div>
    </div>
</section>
<style>
    .text-1.left{
        animation: slide-in 0.5s ease-in-out forwards;
    }

    @keyframes slide-in{
        from{
            transform: translateX(50px);
            opacity: 0;
        }
        to{
            transform: translateX(0px);
            opacity: 1;
        }
    }
</style>
